<template>
  <div>
    <h1 class="title">Oh non !</h1>
    <p>Cette page n'existe pas. Avez-vous bien saisi l'URL ?</p>
    <hr />
    <div class="buttons is-centered">
      <a class="button is-info" v-on:click="back">Page précédente</a>
      <router-link class="button is-primary" :to="{ name: 'home' }">Page d'accueil</router-link>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
h1, p {
  text-align: center;
}
</style>
