<template>
  <div>
    <Measurement v-if="latest" :measurement="latest" />
    <div class="notification is-danger" v-if="error !== null">
      <button class="delete" v-on:click="error = null"></button>
      {{ error }}
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Measurement from '../components/Measurement.vue';

export default {
  components: {
    Measurement,
  },
  data: () => ({
    error: null,
  }),
  computed: {
    ...mapState('measurements', ['latest']),
  },
  methods: {
    ...mapActions('measurements', ['startInterval', 'getLatest']),
  },
  mounted() {
    this.startInterval((error) => {
      this.error = error;
    });
    if (this.latest === null) {
      this.getLatest().catch((error) => {
        this.error = error;
      });
    }
  },
};
</script>
